main {
  width: 75%;
  margin: auto;
  background-color: white;
  z-index: 1;
  position: absolute;
  min-height: 100vh;
  height: auto;
  top: 80vh;
  left: 12.5%;
}

.logo{
  background:url('./images/FLogo.png') center no-repeat;
  margin-left: 11%;
  width: 10%;
  height: 80px;
}
