main {
  width: 68%;
  margin: auto;
  background-color: white;
  z-index: 1;
  position: relative;
  min-height: 50vh;
  height: auto;
  top: 80px;
}

.logo-base{
  width: 10%;
  min-width: 84px;
}
.logo-clicked{
  width: 397px;
  background: $blue;
}
#logo-animate{
  overflow: hidden;
  margin-left: 9%;
  height: 84px;
  margin-bottom: 10px;
  background: #5763d8;
}

#poweredBy{
  display: none;
  margin: 0 0;
  height:84px;
  width: 397px;
}
.logo {
  margin: 0 20px;
  display: none;
  background: #5763d8;
}

.path {
	stroke-linecap: round;
  	stroke-dasharray: 1890;
  	stroke-dashoffset: 0;
  	animation: dash 1.0s ease-out;
}

@keyframes dash {
	from {
		stroke-dashoffset: 1890;
	}
	to {
		stroke-dashoffset: 3780;
	}
}
