@media only screen and (min-width: 325px) {
	html {
		font-size: 10px;
	}
	header {
  		margin: 10% 20% 0% 20%;
  	}
  	p {
  		font-size: 1.3rem;
	}
	main {
	  	width: 100%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width: 100%;
	}
}

@media only screen and (min-width: 400px) {
	html{
		font-size: 11px;
	}
	header{
  		margin: 10% 20% 0% 20%;
  	}
  	p {
  		font-size: 1.3rem;
	}
	main {
	  	width: 95%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width: 90%;
	}
	.slider-length {
	  width: 75%;
	}
}

@media only screen and (min-width: 500px) {
	html{
		font-size: 12px;
	}
	header{
  		margin: 10% 20% 0% 20%;
  	}
	main {
	  	width: 80%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width: 90%;
	}
	.slider-length {
	  width: 75%;
	}
}
@media only screen and (min-width: 650px) {
	html{
		font-size: 13px;
	}
	header{
  		margin: 10% 20% 0% 20%;
  	}
	main {
	  	width: 80%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width: 80%;
	}
	.slider-length {
	  width: 75%;
	}
}

@media only screen and (min-width: 800px) {
	html{
		font-size: 14px;
	}
	header{
  		margin: 10% 19.5% 0% 19.5%;
  	}
	main {
	  	width: 80%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width:70%;
	}
	.slider-length {
	  width: 75%;
	}
}

@media only screen and (min-width: 1000px) {
	html{
		font-size: 16px;
	}
	header{
  		margin: 10% 23.25% 0% 23.25%;
  	}
	main {
	  	width: 65%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width:70%;
	}
	.background-savings{
		height: 5.25rem;
		width: 4rem;
	}
	.slider-top-value {
  		width: 4.5rem;
  		font-size: 3.5rem;
	}
}
@media only screen and (min-width: 1250px) {
	.background-savings{
		height: 6.25rem;
		width: 5rem;
	}
	.slider-top-value {
  		width: 5rem;
  		font-size: 4rem;
	}
}
