@media only screen and (min-width: 325) {
	html {
		font-size: 11px;
	}
	header {
  		margin: 10% 20% 0% 20%;
  	}
  	p {
  		font-size: 1.3rem;
	}
	main {
	  	width: 100%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width: 100%;
	}
	.slider-length {
	  width: 75%;
	}
	.slider-num {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 400px) {
	html{
		font-size: 11px;
	}
	header{
  		margin: 10% 10% 0% 10%;
  	}
  	p {
  		font-size: 1.3rem;
	}
	main {
	  	width: 100%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 5%;
	}
	.cell-width{
	  width: 90%;
	}
	.slider-length {
	  width: 72%;
	}
	.slider-num {
		font-size: 1.25rem;
	}
}

@media only screen and (min-width: 500px) {
	html{
		font-size: 12px;
	}
	header{
  		margin: 10% 16% 0% 16%;
  	}
  	p {
  		font-size: 1rem;
	}
	main {
	  	width: 85%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 5%;
	}
	.cell-width{
	  width: 90%;
	}
	.slider-length {
	  width: 72%;
	}
	.slider-num {
		font-size: 1.25rem;
	}
}
@media only screen and (min-width: 650px) {
	html{
		font-size: 13px;
	}
	header{
  		margin: 10% 18% 0% 18%;
  	}
	main {
	  	width: 80%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 10%;
	}
	.cell-width{
	  width: 80%;
	}
	.slider-length {
	  width: 72%;
	}
	.slider-num {
		font-size: 1.3rem;
	}
	#info-hold-property-show, #info-sensitive-show, #info-operate-property-show, #info-subcontractors-show{
		display: none;
		background-color: white;
		border: solid 1px #c3c3c3;
		color: #666;
		border-radius: 10px;
		padding: 10px;
		width: 80%;
		z-index: 1000;
		right: 20px;
	}
}

@media only screen and (min-width: 800px) {
	html{
		font-size: 14px;
	}
	header{
  		margin: 10% 18% 0% 18%;
  	}
	main {
	  	width: 80%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 12%;
	}
	.cell-width{
	  width:70%;
	}
	.slider-length {
	  width: 72%;
	}
	.slider-num {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1000px) {
	html{
		font-size: 16px;
	}
	header{
  		margin: 10% 23.5% 0% 23.5%;
  	}
	main {
	  	width: 65%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 12%;
	}
	.cell-width{
	  width:70%;
	}
	.slider-length {
	  width: 72%;
	}
	.slider-num {
		font-size: 1.3rem;
	}
	.background-savings{
		height: 5.25rem;
		width: 4rem;
	}
	.slider-top-value {
  		width: 4.5rem;
  		font-size: 3.5rem;
	}
}
@media only screen and (min-width: 1250px) {
	html{
		font-size: 17px;
	}
	header{
  		margin: 10% 24.5% 0% 24.5%;
  	}
	main {
	  	width: 63%;
	  	background-color: white;
	  	z-index: 1;
	  	position: relative;
	  	height: auto;
	  	top: 12%;
	}
	.cell-width{
	  width:70%;
	}
	.slider-length {
	  width: 72%;
	}
	.slider-num {
		font-size: 1.5rem;
	}
	.background-savings{
		height: 6.25rem;
		width: 5rem;
	}
	.slider-top-value {
  		width: 5rem;
  		font-size: 4rem;
	}
}
