/* Global CSS */
#body {
  background: url('./images/BGimage.png') no-repeat;
  background-size: cover;
  height: 40vmax;
  padding-bottom: 15px;
  min-height: 325px;
  background-color: $body-bg-color;
}
main {
  width: 95%;
  background-color: white;
  z-index: 1;
  position: relative;
  min-height: 100vh;
  height: auto;
  top: 6%;
}
/* ---- text or fonts ---- */
header{
  margin: 10% 11.5% 0% 11.5%;
  color: white;
  h1 {
    font-size: 320%;
    line-height: 1.25;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 125%;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-top: 3.25%;
  }
  p {
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 1.5%;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
h2 {
  font-size: 250%;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 1.25rem;
  color: $teal;
}
h4 {
  font-weight: bold;
  font-size: 110%;
  color: $black;
  line-height: 1.2;
}
h5 {
  font-weight: bold;
  font-size: 100%;
  color: $teal;
  letter-spacing: 0.17px;
}
p {
  color: $black;
  letter-spacing: 0;
  line-height: 1.5;
 }
.text-center {
  text-align: center;
}
.white {
  color: white;
}
.red {
  color: red;
}
.underline {
    text-decoration: underline;
}
.disp-inline {
  display: inline;
}
.totalsavings {
  display: none;
  font-size: 0px;
}


/* ---- button-row ---- */

.button-row {
  text-align: center;
}

/* ----- flex ----- */
.flex{
  display: flex;
}
.flex-col {
  flex-flow: column;
}
.flex-row {
  flex-flow: row;
}
.flex-grow {
  flex-grow: 1;
}
.flex-center-a {
  align-items: center;
}
.flex-center-j {
  justify-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}

/* ---- padding and margins ---- */
.width25 {
  width: 25%;
}
.width30 {
  width: 30%;
}
.width40 {
  width: 40%;
}
.width50 {
  width: 50%;
}
.width65 {
  width: 65%;
}
.width75 {
  width: 75%;
}
.width80{
  width: 80%;
}
.width90 {
  width: 90%;
}
.width95 {
  width: 95%;
}
.width100 {
  width: 100%;
}
.width-radio {
  width: 140px;
}
.padding5v {
  padding: 5px 0px;
}
.padding10v {
  padding: 10px 0px;
}
.padding15v {
  padding: 15px 0px;
}
.padding25v {
  padding: 25px 0px;
}
.padding25b {
  padding-bottom: 25px;
}
.padding50b {
  padding-bottom: 50px;
}
.padding-slider {
  padding-bottom: 15px;
}
.margin5h {
    margin: 0px 5px;
}
.margin5v {
    margin: 5px 0px;
}
.margin15v {
  margin: 15px 0px;
}
.margin25v {
  margin: 25px 0px;
}
.margin-10lr{
  margin: 0 10px;
}
.margin-5lr{
  margin: 0 5px;
}
.margin-auto{
  margin: auto;
}

/* ---- carousel ---- */
.cell-width{
  width:100%;
}
.carousel-cell {
  width: 100%; /* full width */
  height: auto; /* height of carousel */
  margin: 10px;
  background-color: white;
  padding: 0px 30px;
}
.button--next{
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 45px;
  font-size: 130%;
  text-transform: uppercase;
}
.button--report{
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 45px;
  font-size: 130%;
  text-transform: uppercase;
}
.button--done{
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 45px;
  font-size: 130%;
  text-transform: uppercase;
}
.button--previous{
  color: $teal;
}
.main-carousel{
  width: 100%;
}
#success-page{
}

/* ---- button-row ---- */
.button-row {
  text-align: center;
}

.Error {
  color: red;
  display: none;
}

/* ---- page 1 ----- */
.background-savings{
  background-image: url("./images/scrollnum.png");
  height: 5rem;
  width: 4rem;
  background-size: contain;

  background-repeat: no-repeat;
  line-height: 1;
}
.slider-top-value {
  width: 4rem;
  text-align: center;
  font-size: 3rem;
  border: 0px;
  color: $teal;
  background: none;
}

.top-value-width {
  width: 100%;
}
.slider-length {
  width: 70%;
}
.slider-num {
  width: 5.5rem;
  font-size: 1.05rem;
  text-align: right;
  border: 0px;
  color: $teal;
}
.slider-total-num{
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 0px;
  color: $teal;
}
.vs-circle {
  min-height: 30px;
  min-width: 30px;
  height: 3rem;
  width: 3rem;
  background-color: $teal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 3.2;
  border-radius: 50px;
}
.line-hor {
  border-bottom: 1px solid $teal;
}
.circle-icons {
  height: 9rem;
  width: 9rem;
}
.next-button{
  height: 80px;
  width: 250px;
  font-size: 130%;
  background: $blue;
  border-color: $blue;
  border-radius: 50px;
  color: white;
}

/* ---- page 2 ----- */
.zInput{
    display:inline-block;
    background-color: white;
    margin:0.25rem;
    padding: 0.75rem;
    text-align:center;
    cursor:default;
    color: $black;
    border: $teal 1px solid;
    border-radius:10px;
    font-size: 18px;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .zSelected{
    color: white;
    background-color:$teal;
  }
  fieldset {
    border: 0;
  }
  label {
    display: block;
    margin: 30px 0 10px 0;
  }
  .overflow {
    height: 200px;
  }
  .ui-icon-triangle-1-s {
    background-position: -65px -16px;
  }
  .info{
    color: $teal;
    font-size: 0.8em;
    margin: 10px;
    width: 80%;
    line-height: 0.9em;
    height: auto;
  }
  .info-img{
    height: 2vh;
    min-height: 20px;
    filter: grayscale(100%);
  }
  .hideInfo{
  display: none;
  }
  .showInfo{
  display: block;
  }

  #info-hold-property-show, #info-sensitive-show, #info-operate-property-show, #info-subcontractors-show{
    display: none;
    background-color: white;
    border: solid 1px grey;
    

  }

  /* ---- page 3 ----- */

.email-form{
  border: solid 1px $teal;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

/* ---- page 4 ---- */

#social-media{
  a:active, a:visited, a:hover, a{
    color: $black;
    text-decoration: none;
  }
}
