/* Global CSS */
#body {
  background: url('./images/BGimage.png') no-repeat;
  background-size: cover;
  height: 40vmax;
  padding-bottom: 15px;
  min-height: 325px;
  background-color: $body-bg-color;
}
main {
  width: 95%;
  background-color: white;
  z-index: 1;
  position: relative;
  height: auto;
  top: 6%;
}
/* ---- text or fonts ---- */
header{
  margin: 10% 11.5% 0% 11.5%;
  color: white;
  h1 {
    font-size: 320%;
    line-height: 1.25;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 125%;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-top: 3.25%;
  }
  p {
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 1.5%;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
h2 {
  font-size: 250%;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 1.25rem;
  color: $teal;
}
h4 {
  font-weight: bold;
  font-size: 110%;
  color: $black;
  line-height: 1.2;
}
h5 {
  font-weight: bold;
  font-size: 100%;
  color: $teal;
  letter-spacing: 0.17px;
}
p {
  color: $black;
  letter-spacing: 0;
  line-height: 1.5;
 }
.text-center {
  text-align: center;
}
.white {
  color: white;
}
.underline {
    text-decoration: underline;
}
/* ---- button-row ---- */

.button-row {
  text-align: center;
}

/* ----- flex ----- */
.flex{
  display: flex;
}
.flex-col {
  flex-flow: column;
}
.flex-row {
  flex-flow: row;
}
.flex-grow {
  flex-grow: 1;
}
.flex-center-a {
  align-items: center;
}
.flex-align-items-center{
  align-items: center;
}
.flex-center-j {
  justify-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}

/* ---- padding and margins ---- */
.width25 {
  width: 25%;
}
.width30 {
  width: 30%;
}
.width40 {
  width: 40%;
}
.width50 {
  width: 50%;
}
.width65 {
  width: 65%;
}
.width75 {
  width: 75%;
}
.width80{
  width: 80%;
}
.width90 {
  width: 90%;
}
.width95 {
  width: 95%;
}
.width100 {
  width: 100%;
}
.width-radio {
  width: 140px;
}
.padding5v {
  padding: 5px 0px;
}
.padding10v {
  padding: 10px 0px;
}
.padding15v {
  padding: 15px 0px;
}
.padding25v {
  padding: 25px 0px;
}
.padding25b {
  padding-bottom: 25px;
}
.padding50b {
  padding-bottom: 50px;
}
.padding-slider {
  padding-bottom: 30px;
}
.margin5v {
    margin: 5px 0px;
}
.margin15v {
  margin: 15px 0px;
}
.margin25v {
  margin: 25px 0px;
}


/* ---- carousel ---- */
.cell-width{
  width:100%;
}
.logo-base{
  width: 10%;
}
.logo-clicked{
  width: 40%;
  background: $blue;
}
#logo-animate{
  overflow: hidden;
  margin-left: 9%;
  margin-bottom: 10px;
  background: #5763d8;
}
#powered{
  display: none;
}
#foundedby{
  display: none;
  height:84px;
}
.logo {
  margin: 0 20px;
  // margin-left: 11%;
  /*margin-left: 12px;*/
  // margin-bottom: 10px;
  background: #5763d8;
}
.path {
  stroke-linecap: round;
    stroke-dasharray: 1890;
    stroke-dashoffset: 0;
    animation: dash 1.0s ease-out;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1890;
  }
  to {
    stroke-dashoffset: 3780;
  }
}
.carousel-cell {
  width: 100%; /* full width */
  height: auto; /* height of carousel */
  margin: 10px;
  background-color: white;
  padding: 0px 30px;
}
.button--next{
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 45px;
  font-size: 130%;
  text-transform: uppercase;
}
.button--report{
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 45px;
  font-size: 130%;
  text-transform: uppercase;
}
.button--done{
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 45px;
  font-size: 130%;
  text-transform: uppercase;
}
.button--previous{
  color: $teal;
}
.main-carousel{
  width: 100%;
}
#success-page{
}

/* ---- button-row ---- */
.button-row {
  text-align: center;
}

/* ---- page 1 ----- */
.slider-num {
  width: 5.25rem;
  font-size: 110%;
  text-align: right;
  border: 0px;
  color: $teal;
}
.slider-total-num{
  width: 100%;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  border: 0px;
  color: $teal;
}
.vs-circle {
  min-height: 30px;
  min-width: 30px;
  height: 3rem;
  width: 3rem;
  background-color: $teal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 3.2;
  border-radius: 50px;
}
.line-hor {
  border-bottom: 1px solid $teal;
}
.circle-icons {
  height: 9rem;
  width: 9rem;
}
.next-button{
  height: 80px;
  width: 250px;
  font-size: 130%;
  background: $blue;
  border-color: $blue;
  border-radius: 50px;
  color: white;
}

/* ---- page 2 ----- */
.zInput{
    display:inline-block;
    background-color: white;
    margin:0.25rem;
    padding: 0.75rem;
    text-align:center;
    cursor:default;
    color: $black;
    border: $teal 1px solid;
    border-radius:10px;
    font-size: 18px;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .zSelected{
    color: white;
    background-color:$teal;
  }
  fieldset {
    border: 0;
  }
  label {
    display: block;
    margin: 30px 0 10px 0;
  }
  .overflow {
    height: 200px;
  }

  /* ---- page 3 ----- */

.email-form{
  border: solid 1px $teal;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}
